@import "tailwindcss";



.playfair-display-header_text {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    color: #7d7d7d;
    text-align: left;

    @media only screen and (max-width: 768px){
        font-size: 16px;

    }
}

.playfair-display-heading_text {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 54px;
    color: #3a3a3a;
    text-align: center;

    @media only screen and (max-width: 768px){
        font-size: 36px;

    }
}

.playfair-display-date_text {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 30px;
    color: #3a3a3a;
    text-align: center;

    @media only screen and (max-width: 768px){
        font-size: 20px;

    }
}

.playfair-display-body_text {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 23px;
    color: #3a3a3a;
    text-align: center;
    line-height: 150%;

    @media only screen and (max-width: 768px){
        font-size: 15px;

    }
}

.evergift_icon {
    height: 54px;
    width: 63px;

    @media only screen and (max-width: 768px) {
        height: 24px;
        width: 28px;
    }


}

.profile_icon {
    height: 59px;
    width: 59px;

    @media only screen and (max-width: 768px) {
        height: 28px;
        width: 28px;
    }

}

