@import "tailwindcss";


.playfair-display-header_text {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    color: #7d7d7d;
    text-align: left;

    @media only screen and (max-width: 768px){
        font-size: 16px;

    }
}

.evergift_icon {
    height: 54px;
    width: 63px;

    @media only screen and (max-width: 768px) {
        height: 24px;
        width: 28px;
    }


}

.profile_icon {
    height: 59px;
    width: 59px;

    @media only screen and (max-width: 768px) {
        height: 28px;
        width: 28px;
    }

}

